<header class="header">
    <a href="/home" class="header-logo">
        <img src="../../static/images/logo.png" alt="Logo">
    </a>

    <div class="wave-container">
        <svg viewBox="0 0 1440 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <defs>
                <linearGradient id="wave-grad" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" stop-color="#5FA8ED" />
                    <stop offset="50%" stop-color="#BE89ED" />
                    <stop offset="100%" stop-color="#7898EE" />
                </linearGradient>
            </defs>
            <path fill="url(#wave-grad)" d="M0,60 C240,100 480,20 720,60 C960,100 1200,20 1440,60 V120 H0 Z" />
        </svg>
        <svg viewBox="0 0 1440 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path fill="url(#wave-grad)" d="M0,60 C240,100 480,20 720,60 C960,100 1200,20 1440,60 V120 H0 Z" />
        </svg>
    </div>
</header>