<link rel="stylesheet" href="{{ url_for('static', filename='css/components/popup.css') }}">
<div id="popup" class="popup">
    <div class="popup-content">
        <div class="info">
            <div class="popup-icon"></div>
            <div class="popup-text-wrapper">
                <strong id="popup-title"></strong>
                <span id="popup-text"></span>
            </div>
        </div>
        <span class="close-btn" onclick="closePopup()">&times;</span>
    </div>
</div>

<script src="{{ url_for('static', filename='js/popup.js') }}"></script>

{% if popup_message and popup_message.strip() %}
<script>
    showPopup("{{ popup_message }}", "{{ popup_type }}")
</script>
{% endif %}