<link rel="stylesheet" href="{{ url_for('static', filename='css/components/popup.css') }}">

<div id="popup" class="popup">
    <div class="popup-content">
        <div class="info">
            <strong id="popup-title" style="display: block; font-size: 1.1rem;"></strong>
            <span id="popup-text" style="font-weight: 400; font-size: 0.9rem;"></span>
        </div>
        <span class="close-btn" onclick="closePopup()">&times;</span>
    </div>
</div>

<script src="{{ url_for('static', filename='js/popup.js') }}"></script>

{% if popup_message and popup_message.strip() %}
<script>
    showPopup("{{ popup_message }}", "{{ popup_type }}")
</script>
{% endif %}